.text-logo{
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    margin: 20px 80px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.text-logo:hover{
    color: #3cb878;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 79%;
}
.page{
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.icons{
    display: flex;
    align-self: center;
    height: 25px;
    margin: 0 20px;
}
.calendar{
    width: 30px;
    margin-right: 25px;
    background-image: url("../sprites/calendar.png");
    background-repeat: no-repeat;
}
.calendar:hover{
    background-image: url("../sprites/calendar-hv.png");
    background-repeat: no-repeat;
}
.forum{
    width: 30px;
    margin-right: 25px;
    background-image: url("../sprites/forum.png");
    background-repeat: no-repeat;
}
.forum:hover{
    background-image: url("../sprites/forum-hv.png");
    background-repeat: no-repeat;
}
.compas{
    width: 30px;
    background-image: url("../sprites/compas.png");
    background-repeat: no-repeat;
}
.compas:hover{
    background-image: url("../sprites/compas-hv.png");
    background-repeat: no-repeat;
}
.entry{
    padding-top: 5px;
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    align-self: center;
    padding-right: 75px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    border-left: 1px solid #373737;
}
.entry a{
    color: #3cb878;
    text-decoration: none;
}
.entry a:hover{
    text-decoration: underline;
}
.navbar{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    justify-content: space-between;
    height: 7%;

}
.account-box{
    width: 80%;
    margin: 0 auto;

}
.account-box h1{
    font-size: 25px;
    color: rgba(67, 67, 67, 255);
    text-align: center;
    font-family: sans-serif;
    float: left;
}

.sign{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
}
.sign::before{
    content: ' ';
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: -41px;
    top: 34px;
}

.sign a{
    font-family: sans-serif;
    float: right;
    position: relative;
    display: inline-block;
    top:3px;
    color: rgba(60, 184, 120, 255);
    text-align: left;
    text-decoration: none;
    font-size: 20px;
}
.sign a:hover{
    text-decoration: underline;
}
.main-body{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: white;
    width: 404px;
    align-self: center;
    border-radius: 10px;
}
.button-f{
    background-color: #305db8;
    font-family: sans-serif;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    display: inline-block;
    width: 49%;
    text-decoration: none;
}
.button-f p{
    padding-left: 5px;
    color: white;

}
.button-g p{
    padding-left: 5px;
    color: white;

}
.button-f:hover{
    background-color: #264b96;
}
.button-g:hover{
    background-color: #c3412c;
}
.button-g{
    background-color: #df4a32;
    font-family: sans-serif;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    display: inline-block;
    width: 49%;
    text-decoration: none;
}
.button-f span{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    /* margin: 15px 20px; */
    display: inline-block;
    padding: 5px 15px;
    border-right: 1px solid #2b54a5;
    margin: 10px;
}
.button-g span {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 3px;
    border-right: 1px solid #c8422d;
    margin: 10px;
}
.or{
    position: relative;
    text-align: center;
    top:22px;
    color: #848484;
}
.or::before{
    content: "_______________";
    position: absolute;
    bottom: 6px;
    left: 1px;
}
.or::after{
    content: "_______________";
    position: absolute;
    bottom: 6px;
    right: 1px;
}

.button-g p{
    display: inline-block;
    position: relative;
    bottom:2px;
    left:10px;
}
.button-f p{
    display: inline-block;
    position: relative;
    bottom:1px;
    left: 5px;
}
.form{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}
input{
    margin-left: 3px;
    display: block;
    width: 87%;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 15px;
    margin-top: 10px;
}
.button-cr{
    display: inline-block;
    background-color: #3cb878;
    width: 87%;
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 17px;
    text-decoration: none;
}

input.check{
    width: 20px;
    height: 20px;
    float: left;
    margin: 20px 10px 25px 3px;
}
.term{
    font-size: 15px;
    font-family: sans-serif;
    display: inline-block;
    top: 22px;
    position: relative;
    right: 45px;
}
.term a{
    color: #3cb878;
    text-decoration: none;
}
.term a:hover{
    text-decoration: underline;
}
input[type=text]:focus{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
input[type=email]:focus{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
input[type=password]:focus{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.button-cr:hover{
    background-color: #329a65;
}